@model EagleUniversity.Models.ViewModels.CourseStatModel


    <table>
        <tr>
            <td>
                <b>
                    Total Students in the Course:
                    @Model.students
                </b>
            </td>
            </tr>
        <tr>
            @if (Model.DocumentName != "Not Assigned")
    {
        <td>
            <b>Currunt Task:</b>
            <a href="~/File?id=@Model.DocumentId" alt="doc" download="@Model.DocumentName">@Model.DocumentName</a>
        </td>
     }
            </tr>
        <tr>
        <td>
            <b>
                Days left:
                @Model.Deadline
            </b>
        </td>


        </tr>

    </table>
