@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Eagle University<br />
    Eagle Control Development Department<br />
    c/o Lexicon AB<br />
    Liljeholmsgatan 99<br />
    111 11 Stockholm<br />
    <abbr title="Phone">P:</abbr>
    +46 8 999 99 99
</address>

<address>
    <strong>Information och contact:</strong>   <a href="mailto:Support@eagle.com">info@eagle.com</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@eagle.com">support@eagle.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@eagle.com">marketing@eagle.com</a>
</address>